.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to fill the viewport */
    position: relative;
}

.top-container {
    background-color: #f0f0f0; /* Light grey background */
    border-bottom: 2px solid #ccc; /* Adds a subtle line to separate from the rest of the page */
}

.main-content {
    max-width: 1200px; /* Adjust based on your design requirements */
    margin: 0 auto; /* Centers the content */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align the items for a neat appearance */
}

.text-display p {
    color: #333; /* Darker text for better readability */
    margin: 10px 0;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.visualization-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visualization-container {
    margin-top: 20px;
    border: 2px solid #ccc;
    width: 512px;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.visualization-container img {
    max-width: 100%;
    max-height: 100%;
}

.image-navigation {
    margin-top: 10px;
}

.image-navigation button {
    margin: 0 5px;
}

.text-display {
    margin-bottom: 20px;
}

.image-display img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 20px;
}

/* Style for the mode dropdown */
.mode-dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style for the dropdown button */
  .dropdown-button {
    background-color: #46316a;
    color: white; /* White text */
    padding: 10px; /* Some padding */
    font-size: 16px; /* Text size */
    border: none; /* No border */
    cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
  }
  
  /* Style for the dropdown content, hidden by default */
  .dropdown-content {
    display: none; /* Hide the dropdown content */
    position: absolute; /* Position it absolutely within its parent */
    background-color: #f9f9f9; /* Light grey background */
    min-width: 160px; /* Minimum width */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Add some shadow for depth */
    z-index: 1; /* Ensure it's on top of other content */
  }
  
  /* Style for the links inside the dropdown */
  .dropdown-content a {
    color: black; /* Black text for the links */
    padding: 12px 16px; /* Some padding */
    text-decoration: none; /* No underlines */
    display: block; /* Make each link fill its container */
  }
  
  /* Show the dropdown content when hovering over the dropdown button */
  .mode-dropdown:hover .dropdown-content {
    display: block; /* Display the dropdown content */
  }
  
  /* Style for the dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd; /* Light grey background on hover */
  }
  